<div class="row">
      <div class="btn btn-info" style="border: none;" [routerLink]="['/admin/spaces']"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</div>
  <div class="col-md-12">
    <div class="card">

      <!--<div class="header">
        <h4 class="title">Edit Space</h4>
      </div>-->
      <div class="content">
        <form autocomplete="off" novalidate>
          <div class="form-group">
              <label for="title">Title</label>
              <input type="text" id="title" class="form-control" [(ngModel)]="spaceCopy.name" name="title"/>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea rows="5" id="description" class="form-control" [(ngModel)]="spaceCopy.description" name="description"></textarea>
          </div>
          <div class="form-group">
            <label>Organization(optional)</label>
            <input type="text" class="form-control" [(ngModel)]="spaceCopy.addressLine2" name="organization"/>
          </div>
          <div class="form-group">
            <label>Address</label>
            <input type="text" id="search-box" class="form-control" [(ngModel)]="spaceCopy.addressLine1" name="address"/>
          </div>
          <div id="map"></div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="size">Footage / Acreage</label>
                <input type="text" id="size" class="form-control" [(ngModel)]="spaceCopy.size" name="size"/>
              </div>
            </div>
            <!--<div class="col-md-4">
              <div class="form-group">
                <label for="rateperhour">Rate per hour</label>
                <input type="text" id="rateperhour" class="form-control" [(ngModel)]="spaceCopy.ratePerHour" name="ratePerHour"/>
              </div>
            </div>-->
            <div class="col-md-4">
              <div class="form-group">
                <label for="participantcount">Participant Count</label>
                <input type="text" id="participantcount" class="form-control" [(ngModel)]="spaceCopy.participantCount" name="participantCount"/>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-4">
                <h6 class="title" style="padding-bottom: 5px;">Event Types</h6>
                <div *ngFor="let event of updatedEventTypes">
                  <input type="checkbox" (change)="onChangeEvent(event)" [checked]="event.selected"> {{event.name}}
                </div>
              </div>
              <div class="col-md-4">
                <h6 class="title" style="padding-bottom: 5px;">Amenities</h6>
                <div *ngFor="let amenity of updatedAmenities">
                  <input type="checkbox" [checked]="amenity.selected" (change)="onChangeAmenity(amenity)"> {{amenity.name}}
                </div>
              </div>
              <!--<div class="col-md-4">
                <h6 class="title" style="padding-bottom: 5px;">Extra Amenities <span style="cursor: pointer;" (click)="addExtraAmenity()"><i class="fa fa-plus-square-o" aria-hidden="true"></i></span> </h6>
                <div class="row" *ngFor="let exAmenity of updatedExtraAmenities; let idx = index">
                  <div class="col-md-4">
                    {{exAmenity.name}}
                  </div>
                  <div class="col-md-3">
                    <input type="text" style="width: 75%; text-align: right" [(ngModel)]="exAmenity.extraRate" [name]="'UA'+idx">
                  </div>
                  <div class="col-md-4">
                    <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle btn-xs" type="button" data-toggle="dropdown">{{exAmenity.amenityUnitName}}
                        <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li *ngFor="let unit of amenityUnits" (click)="setAmenityUnit(exAmenity, unit)"><a>{{unit.name}}</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-1">
                    <span style="cursor: pointer;" (click)="removeUpdatedExtraAmenity(idx)"><i class="fa fa-minus-square-o" aria-hidden="true"></i></span>
                  </div>
                </div>
                <div class="row" *ngFor="let newAmenity of newExtraAmenities; let idx = index">
                  <div class="col-md-4">
                    <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle btn-xs" type="button" data-toggle="dropdown">{{newAmenity.name}}
                        <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li *ngFor="let amenity of amenities" (click)="selectAmenity(newAmenity, amenity)"><a>{{amenity.name}}</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <input type="text" style="width: 75%; text-align: right" [(ngModel)]="newAmenity.extraRate" [name]="'NA'+idx">
                  </div>
                  <div class="col-md-4">
                    <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle btn-xs" type="button" data-toggle="dropdown">{{newAmenity.amenityUnitName}}
                        <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li *ngFor="let unit of amenityUnits" (click)="setAmenityUnit(newAmenity, unit)"><a>{{unit.name}}</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-1">
                    <span style="cursor: pointer;" (click)="removeNewExtraAmenity(idx)"><i class="fa fa-minus-square-o" aria-hidden="true"></i></span>
                  </div>
                </div>
              </div>-->
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12 col-sm-10 p-x-0 m-b-20">
              <a class="btn btn-line p-x-20" (click)="selectPhotos('thumbnail')">+ Change thumbnail photo</a>
            </div>
            <div class="col-xs-12 p-x-0">
              <div class="space-pics-body">
                <div *ngIf="!spaceInformation.thumbnailImgData" class="p-b-10" ><img src="http://placehold.it/280x400?text=No+Thumbnail" style="cursor: pointer"></div>
                <preview-image [imageData]="spaceInformation.thumbnailImgData" (removed)="imageRemoved($event)"></preview-image>
              </div>
            </div>
            <div class="col-xs-12 col-sm-10 p-x-0 m-b-10">
                <a class="btn btn-line p-x-20" (click)="selectPhotos('cover')">+ Add more cover photos</a>
            </div>
            <div class="col-xs-12 p-x-0">
              <div class="space-pics-body">
                <div *ngIf="spaceInformation.coverImgData.length === 0" class="p-b-10"><img src="http://placehold.it/480x200?text=No+Cover+Photos" style="cursor: pointer"></div>
                <preview-image [imageData]="imageData" *ngFor="let imageData of spaceInformation.coverImgData" (removed)="imageRemoved($event)"></preview-image>
              </div>
            </div>
          </div>
          <!--<div class="form-group">
            <div class="dropdown">
              <label for="participantcount">Cancellation Policy</label><br>
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{selectedPolicy.name}}
                <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li *ngFor="let policy of cancellationPolicies" ><a (click)="selectedPolicy = policy">{{policy.name}}</a></li>
              </ul>
            </div>
          </div>-->
          <div class="clearfix"></div>
          <hr>
          <button type="submit" class="btn btn-default" (click)="updateSpace()">Save Space</button>
        </form>
      </div>

    </div>
  </div>


</div>

<modal-component [modalComponentData]="modalComponentData"></modal-component>
<div class="loading" *ngIf="isLoading"></div>
