<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title">List of Spaces</h4>
      </div>

      <div class="content table-responsive table-full-width">

        <table class="table table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Space Name</th>
              <th>Host Name</th>
              <th>Organization</th>
              <th>Active</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let space of spaces" style="cursor: pointer;">
              <td>{{space.id}}</td>
              <td>{{space.name}}</td>
              <td>{{space.hostName}}</td>
              <td>{{space.organizationName}}</td>
              <td><!-- no layout applied -->
                <label class="switch switch switch-round">
                  <input type="checkbox" (change)="changeAcceptance(space)" [checked]="space.approved === 1">
                  <span class="switch-label" data-on="Yes" data-off="No"></span>
                </label>
              </td>
              <td><a [routerLink]="['/admin/spaces', space.id, 'edit']" data-toggle="tooltip" data-placement="top" title="Edit space"><i class="fa fa-edit" aria-hidden="true"></i></a></td>
              <td><a (click)="goToSpaceProfile(space)" data-toggle="tooltip" data-placement="top" title="Show space"><i class="fa fa-tv" aria-hidden="true"></i></a></td>
            </tr>
          </tbody>
        </table>
        <div class="text-center">
          <ul class="pager">
            <li *ngIf="pageIndex !== 1"><a (click)="getPageSpaces(pageIndex - 1)"><i class="fa fa-arrow-left" aria-hidden="true"></i> Previous</a></li>
            <li><a (click)="getPageSpaces(pageIndex + 1)">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
