.modal-backdrop{
  position: relative;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 99999;
  background-image: url(../img/processing.gif);
  background-position: center;
  background-repeat: no-repeat;
}
