
.space-active-icon{ font-size: 25px;
  color:#1dc7ea;
  font-weight: 700; }

.space-deactive-icon{font-size: 25px;
  color:#fa0528;
  font-weight: 700;}

.btn-round {
  border-width: 1px;
  border-radius: 1px !important;
  padding: 3px 7px;}

.btn {
  color: #000; }

.btn-primary {
  background-color: #45b4de;
  border-color: #45b4de;
  color: #FFFFFF;
  font-size: 13px;}



.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  background-color: #197192;
  border-color: #197192;
  color: #fff;}

/**
 * tab panel widget
 */
.tabPanel-widget {
  position: relative;  /* containing block for headings (top:0) */
}

/**
 * because labels come first in source order - we use z-index to move them in front of the headings
 */
.tabPanel-widget > label {
  position: absolute;
  z-index: 1;
}

/**
 * labels and headings must share same values so grouping declarations in this rule prevents async edits (risk of breakage)
 * line-height == height -> vertical centering
 * the width dictates the offset for all headings but the first one: left offset = width * number of previous heading(s)
 * note that width and offset of label/heading pair can be customized if necessary
 */

.tabPanel-widget > label,
.tabPanel-widget > h2 {
  font-size: 1.1em;
  width: 9em;
  height: 3em;
  line-height: 3em;
}

/**
 * position:relative is for the markers (the down arrow in tabs)
 */
.tabPanel-widget > h2 {
  position: relative;
  margin: 0;
  text-align: center;
  background: #2b92ba;
  color: #fff;
}

.tabPanel-widget > label {
  border-right: 1px solid #fff;
}

/**
 * all first level labels and headings after the very first ones
 */
.tabPanel-widget > label ~ label,
.tabPanel-widget > h2 ~ h2 {
  position: absolute;
  top: 0;
}


/**
 * We target all the label/heading pairs
 * we increment the :nth-child() params by 4 as well as the left value (according to "tab" width)
 */

.tabPanel-widget label:nth-child(1),
.tabPanel-widget h2:nth-child(3) {
  left: 0em;
}

.tabPanel-widget label:nth-child(5),
.tabPanel-widget h2:nth-child(7) {
  left: 9em;
}

.tabPanel-widget label:nth-child(9),
.tabPanel-widget h2:nth-child(11) {
  left: 18em;
}

/**
 * we visually hide all the panels
 * https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
 */
.tabPanel-widget input + h2 + div {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/**
 * we reveal a panel depending on which control is selected
 */
.tabPanel-widget input:checked + h2 + div {
  position: static !important;
  padding: 1em !important;
  height: auto !important;
  width: auto !important;
}

/**
 * shows a hand cursor only to pointing device users
 */
.tabPanel-widget label:hover {
  cursor: pointer;
}

.tabPanel-widget > div {
  padding: 1em;
}

/**
 * we hide radio buttons and also remove them from the flow
 */
.tabPanel-widget input[name="tabs"] {
  opacity: 0;
  position: absolute;
}


/**
 * this is to style the tabs when they get focus (visual cue)
 */

.tabPanel-widget input[name="tabs"]:focus + h2 {
  outline: 1px dotted #000;
  outline-offset: 10px;
}


/**
 * reset of the above within the tab panel (for pointing-device users)
 */
.tabPanel-widget:hover h2 {
  outline: none !important;
}

/**
 * visual cue of the selection
 */
.tabPanel-widget input[name="tabs"]:checked + h2 {
  background: #42afda;
}

/**
 * the marker for tabs (down arrow)
 */
.tabPanel-widget input[name="tabs"]:checked + h2:after {
  content: '';
  margin: auto;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #42afda;
}

/**
 * Make it plain/simple below 45em (stack everything)
 */
@media screen and (max-width: 45em) {

  /* hide unecessary label/control pairs */
  .tabPanel-widget label,
  .tabPanel-widget input[name="tabs"] {
    display: none;
  }

  /* reveal all panels */
  .tabPanel-widget > input + h2 + div {
    display: block !important;
    position: static !important;
    padding: 1em !important;
    height: auto !important;
    width: auto !important;
  }

  /* "unstyle" the heading */
  .tabPanel-widget h2 {
    width: auto;
    position: static !important;
    background: #42afda !important;
  }

  /* "kill" the marker */
  .tabPanel-widget h2:after {
    display: none !important;
  }

}





/* FORM ELEMENTS */
.radio+.radio,
.checkbox+.checkbox {
  margin-top:1px;
}
/**/
/* radios and checkboxes */
/**/
.radio,
.checkbox {
  display:inline-block;
  margin: 0 15px 3px 0;
  padding-left: 27px;
  font-size: 15px;
  line-height: 27px;
  color: #404040;
  cursor: pointer;
}
section.dark .radio,
section.dark .checkbox {
  color: #eee;
}
.radio input,
.checkbox input {
  position: absolute;
  left: -9999px;
}
.radio i,
.checkbox i {
  position: absolute;
  top: 5px;
  left: 0;
  display: block;
  width: 19px;
  height: 19px;
  outline: none;
  border-width: 2px;
  border-style: solid;
  border-color:rgba(0,0,0,0.3);
  background: rgba(255,255,255,0.3);
}
section.dark .radio i,
section.dark .checkbox i {
  border-color:rgba(255,255,255,0.3);
  background: transparent;
}
.radio i {
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}
.radio input + i:after,
.checkbox input + i:after {
  position: absolute;
  opacity: 0;
  transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  -ms-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -webkit-transition: opacity 0.1s;
}
.radio input + i:after {
  content: '';
  top: 5px;
  left: 5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.checkbox input + i:after {
  content: '\f00c';
  top: 0;
  left: 0px;
  width: 15px;
  height: 15px;
  font: normal 12px/16px FontAwesome;
  text-align: center;
}
.radio input:checked + i:after,
.checkbox input:checked + i:after {
  opacity: 1;
}
.inline-group {
  margin: 0 -30px -4px 0;
}
.inline-group:after {
  content: '';
  display: table;
  clear: both;
}
.inline-group .radio,
.inline-group .checkbox {
  float: left;
  margin-right: 30px;
}
.inline-group .radio:last-child,
.inline-group .checkbox:last-child {
  margin-bottom: 4px;
}

.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline {
  padding-top:0;
}

/**/
/* hover state */
/**/
.input:hover input,
.select:hover select,
.textarea:hover textarea,
.radio:hover i,
.checkbox:hover i,
.toggle:hover i {
  border-color: rgba(0,0,0,0.6);
}
section.dark .input:hover input,
section.dark .select:hover select,
section.dark .textarea:hover textarea,
section.dark .radio:hover i,
section.dark .checkbox:hover i,
section.dark .toggle:hover i {
  border-color: rgba(255,255,255,0.3);
}
.button:hover {
  opacity: 1;
}

/**/
/* focus state */
/**/
.input input:focus,
.select select:focus,
.textarea textarea:focus,
.radio input:focus + i,
.checkbox input:focus + i,
.toggle input:focus + i {
  border-color: rgba(0,0,0,0.6);
}
section.dark .input input:focus,
section.dark .select select:focus,
section.dark .textarea textarea:focus,
section.dark .radio input:focus + i,
section.dark .checkbox input:focus + i,
section.dark .toggle input:focus + i {
  border-color: rgba(255,255,255,0.7);
}


/**/
/* checked state */
/**/
.radio input + i:after {
  background-color:rgba(0,0,0,8);
}
section.dark .radio input + i:after {
  background-color:rgba(255,255,255,8);
}
.checkbox input + i:after {
  color: rgba(0,0,0,8);
}
section.dark .checkbox input + i:after {
  color: rgba(255,255,255,8);
}
.radio input:checked + i,
.checkbox input:checked + i,
.toggle input:checked + i {
  border-color:rgba(0,0,0,8);
}
section.dark .radio input:checked + i,
section.dark .checkbox input:checked + i,
section.dark .toggle input:checked + i {
  border-color:rgba(255,255,255,8);
}


section.dark select>option,
section.dark select>optgroup {
  background-color: #333;
}




.clearfix { clear:both   }

.padding-0 			{ padding:0 !important; 	}
.padding-3 			{ padding:3px !important; 	}
.padding-6 			{ padding:6px !important; 	}
.padding-8 			{ padding:8px !important; 	}
.padding-10 			{ padding:10px !important; 	}
.padding-15 			{ padding:15px !important; 	}
.padding-20 			{ padding:20px !important; 	}
.padding-30 			{ padding:30px !important; 	}
.padding-40 			{ padding:40px !important; 	}
.padding-50 			{ padding:50px !important; 	}
.padding-60 			{ padding:60px !important; 	}
.padding-70 			{ padding:70px !important; 	}
.padding-80 			{ padding:80px !important; 	}
.padding-90 			{ padding:90px !important; 	}
.padding-100 		{ padding:100px !important; }

.padding-top-0		{ padding-top:0 !important; }
.padding-top-5		{ padding-top:5px !important; }
.padding-top-10		{ padding-top:10px !important; }
.padding-top-15		{ padding-top:15px !important; }
.padding-top-20		{ padding-top:20px !important; }
.padding-top-30		{ padding-top:30px !important; }
.padding-top-40		{ padding-top:40px !important; }
.padding-top-50		{ padding-top:50px !important; }
.padding-top-60		{ padding-top:60px !important; }
.padding-top-80		{ padding-top:80px !important; }
.padding-top-100	{ padding-top:100px !important; }
.padding-top-130	{ padding-top:130px !important; }
.padding-top-150	{ padding-top:150px !important; }
.padding-top-180	{ padding-top:180px !important; }
.padding-top-200	{ padding-top:200px !important; }

.padding-bottom-0	{ padding-bottom:0 !important; }
.padding-bottom-10	{ padding-bottom:10px !important; }
.padding-bottom-15	{ padding-bottom:15px !important; }
.padding-bottom-20	{ padding-bottom:20px !important; }
.padding-bottom-30	{ padding-bottom:30px !important; }
.padding-bottom-40	{ padding-bottom:40px !important; }
.padding-bottom-50	{ padding-bottom:50px !important; }
.padding-bottom-60	{ padding-bottom:60px !important; }
.padding-bottom-80	{ padding-bottom:80px !important; }
.padding-bottom-100	{ padding-bottom:100px !important; }
.padding-bottom-130	{ padding-bottom:130px !important; }
.padding-bottom-150	{ padding-bottom:150px !important; }
.padding-bottom-180	{ padding-bottom:180px !important; }
.padding-bottom-200	{ padding-bottom:200px !important; }


.margin-top-0		{ margin-top:0 !important; }
.margin-top-1		{ margin-top:1px !important; }
.margin-top-2		{ margin-top:2px !important; }
.margin-top-3		{ margin-top:3px !important; }
.margin-top-6		{ margin-top:6px !important; }
.margin-top-8		{ margin-top:8px !important; }
.margin-top-10		{ margin-top:10px !important; }
.margin-top-20		{ margin-top:20px !important; }
.margin-top-30		{ margin-top:30px !important; }
.margin-top-40		{ margin-top:40px !important; }
.margin-top-50		{ margin-top:50px !important; }
.margin-top-60		{ margin-top:60px !important; }
.margin-top-80		{ margin-top:80px !important; }
.margin-top-100		{ margin-top:100px !important; }
.margin-top-130		{ margin-top:130px !important; }
.margin-top-150		{ margin-top:150px !important; }
.margin-top-180		{ margin-top:180px !important; }
.margin-top-200		{ margin-top:200px !important; }

.margin-bottom-0	{ margin-bottom:0 !important; }
.margin-bottom-1	{ margin-bottom:1px !important; }
.margin-bottom-2	{ margin-bottom:2px !important; }
.margin-bottom-3	{ margin-bottom:3px !important; }
.margin-bottom-6	{ margin-bottom:6px !important; }
.margin-bottom-8	{ margin-bottom:8px !important; }
.margin-bottom-10	{ margin-bottom:10px !important; }
.margin-bottom-20	{ margin-bottom:20px !important; }
.margin-bottom-30	{ margin-bottom:30px !important; }
.margin-bottom-40	{ margin-bottom:40px !important; }
.margin-bottom-50	{ margin-bottom:50px !important; }
.margin-bottom-60	{ margin-bottom:60px !important; }
.margin-bottom-80	{ margin-bottom:80px !important; }
.margin-bottom-100	{ margin-bottom:100px !important; }
.margin-bottom-130	{ margin-bottom:130px !important; }
.margin-bottom-150	{ margin-bottom:150px !important; }
.margin-bottom-180	{ margin-bottom:180px !important; }
.margin-bottom-200	{ margin-bottom:200px !important; }

.margin-left-0		{ margin-left:0 !important; }
.margin-left-3		{ margin-left:3px !important; }
.margin-left-6		{ margin-left:6px !important; }
.margin-left-8		{ margin-left:8px !important; }
.margin-left-10		{ margin-left:10px !important; }
.margin-left-15		{ margin-left:15px !important; }
.margin-left-20		{ margin-left:20px !important; }
.margin-left-30		{ margin-left:30px !important; }
.margin-left-40		{ margin-left:40px !important; }
.margin-left-50		{ margin-left:50px !important; }
.margin-left-60		{ margin-left:60px !important; }
.margin-left-80		{ margin-left:80px !important; }
.margin-left-100	{ margin-left:100px !important; }
.margin-left-130	{ margin-left:130px !important; }
.margin-left-150	{ margin-left:150px !important; }
.margin-left-180	{ margin-left:180px !important; }
.margin-left-200	{ margin-left:200px !important; }
.margin-left-250	{ margin-left:250px !important; }
.margin-left-300	{ margin-left:300px !important; }

.margin-right-0		{ margin-right:0 !important; }
.margin-right-3		{ margin-right:3px !important; }
.margin-right-6		{ margin-right:6px !important; }
.margin-right-8		{ margin-right:8px !important; }
.margin-right-10	{ margin-right:10px !important; }
.margin-right-15	{ margin-right:15px !important; }
.margin-right-20	{ margin-right:20px !important; }
.margin-right-30	{ margin-right:30px !important; }
.margin-right-40	{ margin-right:40px !important; }
.margin-right-50	{ margin-right:50px !important; }
.margin-right-60	{ margin-right:60px !important; }
.margin-right-80	{ margin-right:80px !important; }
.margin-right-100	{ margin-right:100px !important; }
.margin-right-130	{ margin-right:130px !important; }
.margin-right-150	{ margin-right:150px !important; }
.margin-right-180	{ margin-right:180px !important; }
.margin-right-200	{ margin-right:200px !important; }
.margin-right-250	{ margin-right:250px !important; }
.margin-right-300	{ margin-right:300px !important; }

.border-black {border: 1px solid #000 }
.border-dgrey {border: 1px solid #7f7f7f }
.border-grey {border: 1px solid #ccc }
.border-white {border: 1px solid #fff }

.text-300 { font-weight:300 !important;  }
.text-400 { font-weight:400 !important; }
.text-500 { font-weight:500 !important;}
.text-700 { font-weight:700 !important; }
.text-900 { font-weight:900 !important;}



/* @toggle switch elements
-------------------------------------------------- */
.switch {
  cursor:pointer;
  position: relative;
  padding-right:10px;
  display: inline-block;
  margin-bottom:5px;
  height: 26px;
}

.switch > .switch-label {
  cursor:pointer;
  display: inline-block;
  position: relative;
  height: 25px;
  width: 58px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  background: #B5C1C7;
  border: 2px solid #B5C1C7;
  text-transform: uppercase;
  font-family:Helvetica, Arial, sans-serif;

  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.switch > .switch-label + span{
  display:inline-block;
  padding-left:5px;
  position:relative; top:-7px;
}
.switch > .switch-label:before {
  content: attr(data-off);
  position: absolute;
  top: 1px;
  right: 3px;
  width: 33px;
}

.switch > .switch-label:after {
  content:"";
  margin: 1px;
  width: 19px;
  height: 19px;
  display: block;
  background: #fff;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
}

.switch > input {
  -webkit-appearance: none;
  position: absolute;
  width: inherit;
  height: inherit;
  opacity: 0;
  left: 0;
  top: 0;

}

/* @toggle switch focus state
-------------------------------------------------------------- */
.switch > input:focus {
  outline: none;
}
.switch > input:focus + .switch-label {
  color: #fff; border-color: #a1a6a9; background:#a1a6a9;
}
.switch > input:focus + .switch-label:after {
  background: #fff;
}

/* @toggle switch normal state
--------------------------------------------------------------- */
.switch > input:checked + .switch-label {
  border-color:#46b8da;
  background:#46b8da;
  padding-left: 33px;
  color: white;
}
.switch.switch-success > input:checked + .switch-label {
  border-color:#4cae4c;
  background:#4cae4c;
}
.switch.switch-danger > input:checked + .switch-label {
  border-color:#d43f3a;
  background:#d43f3a;
}
.switch.switch-warning > input:checked + .switch-label {
  border-color:#eea236;
  background:#eea236;
}
.switch.switch-info > input:checked + .switch-label {
  border-color:#46b8da;
  background:#46b8da;
}
.switch.switch-default > input:checked + .switch-label {
  border-color:rgba(0,0,0,0.1);
  background:rgba(0,0,0,0.1);
}
.switch.switch-default > input:checked + .switch-label:before {
  color:#888;
}

.switch > input:checked + .switch-label:before {
  content: attr(data-on);
  left: 1px;
  top:1px;
}

.switch > input:checked + .switch-label:after {
  margin: 1px;
  width: 19px;
  height: 19px;
  background: white;
}

/* @toggle switch normal state focus
--------------------------------------------------------------------------------- */
.switch-round > .switch-label {
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -o-border-radius: 13px;
  border-radius: 13px;
}
.switch-round > .switch-label + span{
  top:-2px;
}
.switch-round > .switch-label:before {
  width: 33px;
}
.switch-round > .switch-label:after {
  width: 19px;
  color:#B5C1C7;
  content: "\2022";
  font:20px/20px Times, Serif;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -o-border-radius: 13px;
  border-radius: 13px;
}

.switch-round > input:checked + .switch-label {
  padding-left: 33px;
}
.switch-round > input:checked + .switch-label:after{
  color:#1dc7ea;
}

.has-switch span.switch-right {
  border-radius: 0 0px 0px 0;
  background-color: #1DC7EA;
  color: #ffffff;
  text-indent: 1px;}

.checkbox .icons, .radio .icons{
  top: 3px;
}
