<div class="sidebar" data-color="azure" data-image="assets/img/sidebar-5.jpg">

  <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="https://millionspaces.com" class="simple-text">
        <img class="img-responsive" src="../../assets/img/logo-white.svg" alt="logo">
      </a>
    </div>

    <ul class="nav">
      <li [class.active]="active === 'dashboard' || router.url.indexOf('dashboard') > 0">
        <a (click)="goToDashboard()">
          <i class="pe-7s-graph"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li [class.active]="active === 'listspace' || router.url.indexOf('spaces') > 0">
        <a (click)="goToListSpace()">
          <i class="pe-7s-note2"></i>
          <p>List of spaces</p>
        </a>
      </li>
      <li [class.active]="active === 'listhost' || router.url.indexOf('host-list') > 0">
        <a (click)="goToListHost()">
          <i class="pe-7s-users"></i>
          <p>List of hosts</p>
        </a>
      </li>
      <li [class.active]="active === 'listguest' || router.url.indexOf('guest-list') > 0">
        <a (click)="goToGuestList()">
          <i class="pe-7s-menu"></i>
          <p>List of guests</p>
        </a>
      </li>
      <li [class.active]="active === 'managebookings' || router.url.indexOf('manage-bookings') > 0">
        <a (click)="goToManageBookings()">
          <i class="pe-7s-bookmarks"></i>
          <p>Manage Bookings</p>
        </a>
      </li>

    </ul>
  </div>
</div>
